@font-face {
    font-family: "NetflixSans";
    src: url("../Assets/Fonts/NetflixSans_W_Bd.woff2") format("woff2");
    src: url("../\Assets\Fonts\NetflixSans_W_Blk.woff2") format("woff2");
    src: url("../Assets\Fonts\NetflixSans_W_Md.woff2") format("woff2");
    src: url("../Assets\Fonts\NetflixSans_W_Rg.woff2") format("woff2");

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NetflixSans', sans-serif;

}
body {
    background-color: #000;
    color: #fff;
    
}

.header {
    width: 100vw;
    height: 100vh;
    background-image:url('../Assets/Images/header-image.png') ;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo {
    width: 200px;
    cursor: pointer;
}

nav button {
    border: none;
    outline: none;
    background-color: #db0001;
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 10px;
}

.lang-btn img {
    width: 10px;
    margin-left: 10px;
    align-self: center;
} 

.fa-globe {
    color: #fff;
    width: 10px;
    margin-right: 20px;
    margin-left: 0px;
}
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Make the header content take up the full viewport height */
    padding: 100px 0; /* Adjust vertical spacing as needed */
    max-width: 100%; /* Set maximum width to 100% */
    overflow: hidden; /* Hide any overflowing content */
}

.header-content h1 {
    font-family: 'Roboto',sans-serif;
    font-size: 50px;
    line-height: 80px;
    font-weight: 800;
    max-width: 90%; /* Adjust maximum width as needed */
    white-space: nowrap;
    margin: 0; /* Remove default margin */
    margin-bottom: 10px;
}


.header-content h3 {
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

.header-content p {
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}

.email-signup {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.email-input-container {
    flex: 1;
    width: 400px;
    height: 50px;
    background-color: #ffffff0e;
    border: solid rgb(48, 47, 47) 2px;
    border-radius: 4px;
}

.email-input-container input {
    width: 100%;
    padding: 12px;
    align-items: center;
    border: none;
    outline: 0;
    background-color: #ffffff00;
    color: #fff;
    font-size: 20px;
}

.button-container {
    margin-left: 10px;
    background-color: #00000000;
}

.button-container button {
    font-family: 'NetflixSans', sans-serif;
    background-color: #db0001;
    border-radius: 4px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 25px;
}

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col, .img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-size: 40px;
    font-weight: 500;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.faq small {
    font-size: 25px;
    font-family: 'NetflixSans', sans-serif; /* Add your desired font here */
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}


.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0px;
}

.footer .lang-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.email-signup {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.email-input-container {
    flex: 1;
    width: 400px;
    height: 50px;
    background-color: #ffffff0e;
    border: solid rgb(48, 47, 47) 2px;
    border-radius: 4px;
}

.email-input-container input {
    width: 100%;
    padding: 12px;
    align-items: center;
    border: none;
    outline: 0;
    background-color: #ffffff00;
    color: #fff;
    font-size: 20px;
}

.button-container {
    margin-left: 10px;
    background-color: #00000000;
}

.button-container button {
    font-family: 'NetflixSans', sans-serif;
    background-color: #db0001;
    border-radius: 4px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 25px;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .header {
        padding: 10px 5%;
    }

    .logo {
        width: 150px;
    }

    nav button {
        font-size: 12px;
        padding: 6px 10px;
        margin-left: 10px;
    }

    .lang-btn {
        padding: 6px 8px;
    }

    .header-content {
        padding: 50px 5%;
    }

    .header-content h1 {
        font-size: 28px; 
        line-height: 1.2;
    }

    .header-content h3 {
        font-size: 16px;
    }

    .header-content p {
        font-size: 14px; 
    }

    .email-input-container {
        width: 100%;
    }

    .email-input-container input {
        font-size: 16px;
    }

    .button-container button {
        font-size: 20px;
        padding: 8px 20px;
    }

    .features {
        padding: 30px 5%;
    }

    .img-col img {
        width: 100%;
    }

    .features h2 {
        font-size: 36px;
    }

    .faq {
        padding: 20px 5%; 

    .faq h2 {
        font-size: 28px; 
    }

    .faq small {
        font-size: 16px; 
    }

    .footer {
        padding: 50px 5% 10px; 
    }

    .footer h2 {
        font-size: 16px; 
    }
}
}